// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.keywords {
    height: 300px;
    overflow: auto;
}

.disable-btn {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.loader {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.loading {
    border: 2px solid #ccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: #1ecd97;
    border-left-color: #1ecd97;
    animation: spin 1s infinite ease-in;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

body {
    &.wating {
        opacity: 0.5;
        pointer-events: none;
    }
}

.container {
    &.keywords {
        margin-top: 100px;
    }
    &.download {
        .link {
            vertical-align: bottom;
        }
    }
    .title {
        margin-top: 30px;
    }
}
